<!doctype html>
<html>

<head>
    <meta charset="utf8">
    <title>Star Wars or the Pokémon: Who's Who?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>

    <h1><b>Star Wars or the Pokémon: Who's Who?</b></h1>
    <p> Are you a true fan of the galaxy far, far away and the world of Pokémon? 
        <br>
        Challenge yourself now and prove your mastery of these two beloved universes.
    </p>
    <div style="display: inline-block;">
        <a href='/starwars'>
            <img src='https://external-preview.redd.it/matt-ferguson-return-of-the-jedi-wallpaper-posters-v0-ecKC1V15MsZUv2gRlfsuSpX2WaApYe-mES-S4NaIzi0.jpg?width=640&crop=smart&auto=webp&s=9d0ac6c82f920c210593bfc2597ebab61b37f44e' width='350' height='500'>
        </a>
    </div>
    <div style="display: inline-block;">
        <a href='/getpokemon'>
            <img src='https://m.media-amazon.com/images/I/51Z44ZHIq+L._AC_.jpg' width='350' height='500'>
        </a>
    </div>
    <br>
    <a href='https://google.com'>No idea? Click here for Google</a>

</body>

</html>